<style type="text/css">
.linea{
	padding-top: 15px;
	border-top: 2px solid crimson;
}
.nav-footer{
	padding-left: 0;
}
</style>

	<div class="mui-container">
		<div class="mui-row">
			<div class="mui-col-lg-5 nav-footer">
				<nav class="menu-footer">	<!-- menu -->
					<ul class="flex">
						
						<li>
							<div class="hover_footer">
								<a href="nosotros.php">NOSOTROS</a>
							</div>
						</li>
						<li>
							<div class="hover_footer">
							<a href="index.php#productos">PRODUCTOS</a>
							</div>
						</li>
						<li>
							<div class="hover_footer">
							<a href="#">CLIENTES</a>
							</div>
						</li>
						<li>
							<div class="hover_footer">
							<a href="menu.php">MENÚ</a>
							</div>
						</li>

						<li>
							<div class="hover_footer">
								<a href="index.php#contactenos">CONTÁCTENOS</a>
							</div>
						</li>
						
					</ul>
				</nav>
			</div>
		</div>
		<!-- <div class="mui-row" style="margin-left:0;margin-right:0  ">
			<svg height="10" width="100%">
					<line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgba(236, 236, 236, 0.8);stroke-width:4" />		
			</svg>
		</div> -->
		<div class="mui-row linea" >
				<div class="derechos-reservados">
						<img src="img/logo.png" alt="logoUAGRM" class="logo-footer">
						<span>S&N. ©2018  |  Todos los derechos reservados</span>
						<ul>
							<li>
								<a href="https://www.facebook.com/finor.uagrm.9/?fb_dtsg_ag=AdzNsUY5TcyqpgAgFrH-iLOH_EUeY8hTeifI2z0UR0744w%3AAdyORRC7mTF7MIuzrhwZVVR2uMB6PH3UV5YWsnAlUh95Sw">
									<img src="png/facebook-logo-button.png" alt="" class="logo-redes">
								</a>								
							</li>
							<li>
								<a href="https://twitter.com/UAGRM1">
									<img src="png/twitter-logo-button.png" alt="" class="logo-redes">
								</a>
								
							</li>
						</ul>
				</div>
		</div>
		
	</div>
	
