<style>
	.logotipo{
		background: white;
		border-radius: 8px;
		height: 80px;

	}
	.position-shadow{
		position: absolute;
		width: 100%;
		z-index: 1000000;
	}
</style>
	
	
	<header class="mui-row position-shadow" style="margin-left: 0;margin-right: 0" >
		<div class="mui-container" style="height: 90px">
			<a href="index.php">
				<img  src="img/logo.png" alt="logotipo"class="logotipo">
			</a>
			<div class="nav">
				<nav class="menu">
					<ul style="margin-bottom: 0">
						<li>
							<div class="hover">
							<a href="nosotros.php">NOSOTROS</a>
							</div>
						</li>
						<li>
							<div class="hover">
							<a href="index.php#productos">PRODUCTOS</a>
							</div>
						</li>
						<li>
							<div class="hover">
								<a href="menu.php">MENÚ
									<!-- <span class="mui-caret"></span> -->
								</a>
							</div>
						</li>
						<li>
							<div class="hover">
								<a href="#contactenos">CONTÁCTENOS</a>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
